[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

*.pidb
*.booproj
*.svd

.vs/

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.psess
*.vsp
*.sln.docstates

.idea/

.DS_Store
Thumbs.db

Packages/packages-lock.json